<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Amadon</title>
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                <h3 style="color: white"> Welcome,{{request.session.username}} |</h3>
                <a href="{% url'dashboard:index' %"></a>
                <a href="{% url 'dashboard:logout' %}"><button type="button" class="btn btn-primary">Log Out</button></a>
            </nav>
        <h1>Create a New Wish List Item</h1>
        <form action="{%url 'dashboard:create'%}" method="post">
            {% csrf_token %}
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
           
        <div class="form-group">
            <label >Item/Product:</label>
            <input name="name" type="text" class="form-control">
            <input type="hidden" name="me" value="{{me.id}}" >
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

</body>
</html>
